* {
    padding: 0;
    margin: 0;
    font-family: sans-serif, Arial, Helvetica;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

#copy {
    border: none;
    backdrop-filter: blur(100px);
    background-color: transparent;
    height: 50px;
    width: 100px;
    color: white;
    cursor: pointer;
    font-size: 14pt;
}

#copy:hover {
    transition: 500ms;
    outline: 1px solid rgb(79, 79, 79);
}

.resultColor {
    display: flex;
    height: 50vh;
    width: 100%;
    background-color: rgb(128, 128, 128);
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
}

.resultColor section {
    display: flex;
    backdrop-filter: blur(15px);
    background: #0000003b;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.resultColor input {
    background: transparent;
    border: none;
    outline: none;
    font-size: 14pt;
    color: white;
    text-align: center;
    width: 350px;
    min-width: 350px;
}

.content {
    height: auto;
    width: 500px;
    min-width: 500px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(33, 28, 58, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(33, 28, 58, 0.2);
}

.colors {
    display: flex;
    flex-direction: column;
}

.contentColor {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0;
}

.numRGB, .numRGB:focus {
    text-align: center;
    outline: none;
    border: none;
    width: 50px;
    padding: 5px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 1px 0px rgb(33 28 58 / 43%);
    box-shadow: 0px 0px 1px 0px rgb(33 28 58 / 43%);
}

.numRGB::-webkit-outer-spin-button,
.numRGB::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=range] {
    appearance: none;
    height: 12px;
    width: 50%;
    border-radius: 50px;
    outline: none;
    margin: 10px 0;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 12px;
    width: 12px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    border-radius: 50%;
    cursor: pointer;
}

#G {
    background: linear-gradient(90deg, black, red);
}

#B {
    background: linear-gradient(90deg, black, green);
}

#R {
    background: linear-gradient(90deg, black, blue);
}

@media (max-width: 500px) {
    .resultColor {
        height: 30vh;
    }

    .content {
        width: 400px;
        min-width: 0;
        height: 200px;
    }

    input[type=range] {
        height: 20px;
    }

    input[type="range"]::-webkit-slider-thumb {
        height: 20px;
        width: 20px;
        cursor: default;
    }

    footer {
        margin-bottom: 50px;
    }
}